<div class="icon-link-group">
  <span id="facebook">
    <a class="icon-link" href="https://fb.me/{{ site.facebook_username }}"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
  </span>
  <span id="twitter">
    <a class="icon-link" href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
  </span>
  <span id="linkedin">
    <a class="icon-link" href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
  </span>
  </span>
  <span id="github">
    <a class="icon-link" href="https://github.com/{{ site.github_username }}"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
  </span>
  <span id="email">
    <a class="icon-link" href="mailto:{{ site.email }}"><i class="fa fa-envelope-square fa-2x" aria-hidden="true"></i></a>
  </span>
</div>
